<div id="title">
    <h1> {{title}} </h1>
    <h2> {{subtitle}} </h2>
    <h2> {{email}} </h2>
</div>


<article class="about">

    <h2>Sobre mi</h2>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. At reprehenderit pariatur sapiente quibusdam sunt saepe eius et 
        numquam unde omnis eveniet similique voluptatum ut possimus architecto dolore sequi, consequuntur obcaecati.
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Deserunt repudiandae nesciunt id earum minus.
        Reiciendis quam nihil at sint maxime illo, sequi laudantium assumenda quia molestiae ipsa facilis sed in!
    </p>
</article>
